<style type="text/css">
    ol { list-style-type: upper-alpha; }
</style>

<center> <img src=https://i.imgur.com/0TSSaqL.png width="550"> </center>

<center> <h3> Módulo 3 - Unidad 1 </h3> </center>
<center> <h4> Limpieza y Manipulación de Datos </h4> </center>
<center> <h4> Caso Práctico </h4> </center>
<center> <h4> Adriana Vargas </h4> </center>

##**Data Cleaning**
El objetivo es realizar una limpieza y ajuste de los datos proporcionados, y generar una estructura de datos que sea fácilmente consultable por el equipo de data scientists para generar sus modelos.

Los datasets proporcionados son los siguientes, y contienen las siguente información en sus columnas.

###**Catálogo de Clientes**

Un maestro o catálogo de clientes (maestro_clientes_prueba): contiene toda la información disponible sobre las tiendas y distribuidores que venden los productos del cliente.

**Origen:**
* maestro_clientes.csv

**Columnas:**
1. **NUM TDA:** Número de tienda.
2. **NOMBRE DE TDA:** Nombre de la tienda.
3. **CADENA:** Proveedor.
4. **FORMATO:** Formato de tienda (shop, small, great).
5. **MUNICIPIO/CIUDAD:** Ubicación de la tienda.
6. **ESTADO:** Estado en el que se encuentra la tienda.
7. **DIVISION:** Región en la que se encuentra la tienda.
8. **DEPOSITO / DISTRIBUIDOR:** Distribuidor de la tienda.
9. **ESTRUCTURA:** Tipo de estructura.
10. **GRADO:** Grado.

###**Catálogo de Productos**

Un maestro o catálogo de productos (maestro_productos_prueba.csv): contiene toda la información disponible relativa a los productos que vende el cliente y competidores.

**Origen:**
* maestro_productos.csv

**Columnas:**
1. **Sku:** Stock Keeping Unit, código de producto, referencia en inventario.
2. **Sku_Description:** Stock Keeping Unit, descripción de producto.
3. **Sku_Category:**	Categoría de producto.	
4. **Sku_Subcategory:** Subcategoría de producto.

###**Ventas Sellout**

Archivos de venta de sellout para dos proveedores diferentes (selloutproveedor1. csv y sellout-proveedor2.csv): contiene histórico de
ventas y precio de sellout (del retailer a consumidor final) para cada producto y cada tienda.

**Origen:**
* sellout-proveedor1.csv
* sellout-proveedor2.csv

**Columnas:**
1. **Sku:** Id del producto.
2. **Date:** Fecha de venta.
3. **Store_Id:** Tienda en la que se realizó la venta.
4. **Units:** Número de unidades de producto vendido.
6. **Price:** Precio por unidad.

###**Ventas Sellin**

Archivo de venta de sellin (sellin.csv): contiene el histórico de ventas y precio de sellin (del fabricante al retailer) para cada producto y tienda.

**Origen:**
* sellin-total.csv

**Columnas:**
1. **Sku:** Id del producto.
2. **Date:** Fecha de venta.
3. **Store_Id:** Tienda en la que se realizó la venta.
4. **Pieces:** Número de unidades de producto vendido.
5. **Price:** Precio por unidad.
6. **Margin:** Margen de ganancia.

**Limpieza de cada dataset:**

Se cargan en data frames diferentes cada uno de los data sets proporcionados, y se realizan las siguientes actividades por cada uno:

1. Explorar los datos del dataset
2. Análisis de duplicados
3. Gestionar valores nulos
4. Ajustar tipos de datos

**CATÁLOGO DE CLIENTES**

**1. Explorar los datos del dataset**

Exploramos los datos, obtenemos número de filas y columnas, y tipos de datos de cada columna.

In [ ]:
import pandas as pd

df_clientes = pd.read_csv('maestro_clientes.csv', sep=',', index_col=0)
df_clientes.head()

,NOMBRE DE TDA,CADENA,FORMATO,MUNICIPIO/CIUDAD,ESTADO,DIVISION,DEPOSITO / DISTRIBUIDOR,ESTRUCTURA,GRADO
NUM TDA,,,,,,,,,
2,Bloody Sea Green BookShop,proveedor_1,Shop,Bizarre White Shop,Coalmar,SURESTE,Mogulval Corp.,DISTRIBUIDORES,VI
4,Funny Sky Blue GipsyTrade,proveedor_1,Shop,Bizarre White Shop,Coalmar,SURESTE,Mogulval Corp.,DISTRIBUIDORES,VI
5,Rare Green Laundrette,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI
6,Angry Indigo Center,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI
7,Tall Violet Deli,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI

In [ ]:
df_clientes.shape

(2452, 9)

In [ ]:
df_clientes.dtypes

NOMBRE DE TDA              object
CADENA                     object
FORMATO                    object
MUNICIPIO/CIUDAD           object
ESTADO                     object
DIVISION                   object
DEPOSITO / DISTRIBUIDOR    object
ESTRUCTURA                 object
GRADO                      object
dtype: object

Ajustamos los nombres de las columnas por convención.

In [ ]:
df_clientes = df_clientes.rename(columns={"NOMBRE DE TDA": "Store_Name","CADENA":"Provider","FORMATO":"Store_Type",
                                          "MUNICIPIO/CIUDAD":"Store_Location","ESTADO":"Store_State","DIVISION":"Store_Division",
                                          "DEPOSITO / DISTRIBUIDOR":"Store_Warehouse","ESTRUCTURA":"Store_Structure","GRADO":"Store_Level"})
df_clientes.head()

,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
NUM TDA,,,,,,,,,
2,Bloody Sea Green BookShop,proveedor_1,Shop,Bizarre White Shop,Coalmar,SURESTE,Mogulval Corp.,DISTRIBUIDORES,VI
4,Funny Sky Blue GipsyTrade,proveedor_1,Shop,Bizarre White Shop,Coalmar,SURESTE,Mogulval Corp.,DISTRIBUIDORES,VI
5,Rare Green Laundrette,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI
6,Angry Indigo Center,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI
7,Tall Violet Deli,proveedor_1,Shop,Rare Orange Applepie,Coalmar,SURESTE,Eioval Aerospace,FORANEO,VI

**2. Análisis de duplicados**

Identificamos cuántos registros duplicados existen y decidimos cómo gestionarlos.

In [ ]:
df_clientes.duplicated(keep='first').sum()

1

Encontramos 1 registro duplicado en clientes:

In [ ]:
duplicated = df_clientes[df_clientes.duplicated(keep='first') == True]
duplicated

,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
NUM TDA,,,,,,,,,
2762,Olive Center,proveedor_2,Grocery,Angry Azure Waters,Barthovit,NORESTE,Barrusgul Corp.,FORANEO,II

Comprobamos que el registro duplicado encontrado 2762, está duplicado con el registro 1447:

In [ ]:
duplicated = df_clientes[df_clientes.duplicated(subset=['Store_Name','Provider','Store_Type',
                                  'Store_Location','Store_State','Store_Division',
                                  'Store_Warehouse','Store_Structure','Store_Level'], keep=False)]
duplicated

,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
NUM TDA,,,,,,,,,
1447,Olive Center,proveedor_2,Grocery,Angry Azure Waters,Barthovit,NORESTE,Barrusgul Corp.,FORANEO,II
2762,Olive Center,proveedor_2,Grocery,Angry Azure Waters,Barthovit,NORESTE,Barrusgul Corp.,FORANEO,II

Borramos el registro duplicado:

In [ ]:
df_clientes = df_clientes.drop_duplicates(keep='first')
df_clientes.duplicated(keep='first').sum()

0

Comprobamos que el registro 2762 fue eliminado.

In [ ]:
df_clientes[df_clientes.index == 2762]

Empty DataFrame
Columns: [Store_Name, Provider, Store_Type, Store_Location, Store_State, Store_Division, Store_Warehouse, Store_Structure, Store_Level]
Index: []

Y conservamos el registro original 1447.

In [ ]:
df_clientes[df_clientes.index == 1447]

,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
NUM TDA,,,,,,,,,
1447,Olive Center,proveedor_2,Grocery,Angry Azure Waters,Barthovit,NORESTE,Barrusgul Corp.,FORANEO,II

**3. Gestionar valores nulos**

Identificamos valores nulos en el dataset de clientes.

Para el caso del catálogo de clientes, no tenemos valores nulos.

In [ ]:
df_clientes.isnull().sum()

Store_Name         0
Provider           0
Store_Type         0
Store_Location     0
Store_State        0
Store_Division     0
Store_Warehouse    0
Store_Structure    0
Store_Level        0
dtype: int64

**4. Ajustar tipos de datos**

Todas las columnas del dataset de clientes son valores string.

In [ ]:
df_clientes = df_clientes.astype({'Store_Name':'string','Provider':'string','Store_Type':'string',
                                  'Store_Location':'string','Store_State':'string','Store_Division':'string',
                                  'Store_Warehouse':'string','Store_Structure':'string','Store_Level':'string'})
df_clientes.dtypes

Store_Name         string
Provider           string
Store_Type         string
Store_Location     string
Store_State        string
Store_Division     string
Store_Warehouse    string
Store_Structure    string
Store_Level        string
dtype: object

**CATÁLOGO DE PRODUCTOS**

**1. Explorar los datos del dataset**

Exploramos los datos, obtenemos número de filas y columnas, y tipos de datos de cada columna.

In [ ]:
df_productos = pd.read_csv('maestro_productos.csv', sep=',', index_col=0)
df_productos.head()

           Sku_Description   Sku_Category Sku_Subcategory
Sku
11058       Frosted Mango      Sugar-free     Cereal bars
29207  Nut Cheerios Mango   Super-flavour      Cereal box
38379    MultiGrain Mango      Sugar-free     Cereal bars
42671        Crunch Mango      Sugar-free     Cereal bars
54644          Corn Mango      Sugar-free     Cereal bars

In [ ]:
df_productos.shape

(1242, 3)

In [ ]:
df_productos.dtypes

Sku_Description    object
Sku_Category       object
Sku_Subcategory    object
dtype: object

**2. Análisis de duplicados**

No se identificaron registros duplicados en el catálogo de productos.

In [ ]:
df_productos.duplicated(keep='first').sum()

0

**3. Gestionar valores nulos**

Identificamos valores nulos en el dataset de productos.

Para el caso del catálogo de productos, no tenemos valores nulos.

In [ ]:
df_productos.isnull().sum()

Sku_Description    0
Sku_Category       0
Sku_Subcategory    0
dtype: int64

**4. Ajustar tipos de datos**

Todas las columnas del dataset de productos son valores string.

In [ ]:
df_productos = df_productos.astype({'Sku_Description':'string','Sku_Category':'string','Sku_Subcategory':'string'})
df_productos.dtypes

Sku_Description    string
Sku_Category       string
Sku_Subcategory    string
dtype: object

**VENTAS SELLOUT**

**1. Explorar los datos del dataset**

Exploramos los datos, obtenemos número de filas y columnas, y tipos de datos de cada columna.

Cargamos dataset 1, con una columna index iniciando en 1.

Y agregamos las siguientes columnas extra:
1. Type con posibles valores sellout / sellin, para estar preparados en el momento en el que unifiquemos los registros de ventas.
2. Margin, que aplica solo a sellin, pero que nos servirá para estar preparados más adelante cuando unifiquemos los registros de ventas.

In [ ]:
from numpy import NaN

df_sellout_1 = pd.read_csv('sellout-proveedor1.csv',sep=',')
df_sellout_1.index = df_sellout_1.index + 1

df_sellout_1.insert(0,'Type','sellout')
df_sellout_1['Margin'] = NaN

df_sellout_1.head()

,Type,Sku,Date,Store_Id,Units,Price,Margin
1,sellout,4220015,2017-01-01 SO Diaria Piezas,18,6.0,15.6,NaN
2,sellout,4220015,2017-01-01 SO Diaria Piezas,24,0.0,0.0,NaN
3,sellout,4220015,2017-01-01 SO Diaria Piezas,39,0.0,0.0,NaN
4,sellout,4220015,2017-01-01 SO Diaria Piezas,44,0.0,0.0,NaN
5,sellout,4220015,2017-01-01 SO Diaria Piezas,46,0.0,0.0,NaN

In [ ]:
df_sellout_1.tail()

,Type,Sku,Date,Store_Id,Units,Price,Margin
1206361,sellout,4829827,2017-06-04 SO Diaria Piezas,705,0.00,0.0,NaN
1206362,sellout,4829827,2017-06-04 SO Diaria Piezas,706,0.00,0.0,NaN
1206363,sellout,4829827,2017-06-04 SO Diaria Piezas,707,0.75,27.2,NaN
1206364,sellout,4829827,2017-06-04 SO Diaria Piezas,708,0.00,0.0,NaN
1206365,sellout,4829827,2017-06-04 SO Diaria Piezas,709,0.00,0.0,NaN

Cargamos el dataset 2, con una columna index iniciando en el siguiente valor a la longitud del dataframe sellout_1, para continuar la secuencia del dataset 1.

También renombramos la columna Pieces a Units para unificar los 2 datasets.

Y agregamos las columnas extra para Type y Margin.

In [ ]:
df_sellout_2 = pd.read_csv('sellout-proveedor2.csv',sep=',')
df_sellout_2.index = df_sellout_2.index + len(df_sellout_1.index) + 1

df_sellout_2 = df_sellout_2.rename(columns={"Pieces": "Units"})
df_sellout_2.insert(0,'Type','sellout')
df_sellout_2['Margin'] = NaN

df_sellout_2.head()

            Type      Sku        Date  Store_Id  Units   Price  Margin
1206366  sellout  4240039  2016/01/01      1000   23.0  $16.00     NaN
1206367  sellout  4240039  2016/01/01      1001  116.0  $16.00     NaN
1206368  sellout  4240039  2016/01/01      1002  146.0  $16.00     NaN
1206369  sellout  4240039  2016/01/01      1003   17.0  $16.80     NaN
1206370  sellout  4240039  2016/01/01      1004    5.0  $16.70     NaN

In [ ]:
df_sellout_2.tail()

            Type      Sku        Date  Store_Id  Units   Price  Margin
6068390  sellout  4729193  2016/12/30      5827   14.0  $17.90     NaN
6068391  sellout  4729193  2016/12/30      5850    3.0  $17.90     NaN
6068392  sellout  4729193  2016/12/30      5851    3.0  $16.00     NaN
6068393  sellout  4729193  2016/12/30      5855   21.0  $16.86     NaN
6068394  sellout  4729193  2016/08/20      3766   12.0  $13.60     NaN

In [ ]:
df_sellout_1.shape

(1206365, 7)

In [ ]:
df_sellout_1.dtypes

Type         object
Sku           int64
Date         object
Store_Id      int64
Units       float64
Price       float64
Margin      float64
dtype: object

In [ ]:
df_sellout_2.shape

(4862029, 7)

In [ ]:
df_sellout_2.dtypes

Type         object
Sku           int64
Date         object
Store_Id      int64
Units       float64
Price        object
Margin      float64
dtype: object

**2. Análisis de duplicados**

Identificamos cuántos registros duplicados existen y decidimos cómo gestionarlos.

In [ ]:
df_sellout_1.duplicated(keep='first').sum()

0

No encontramos registros marcados como duplicados en el dataset de Sellout 1.

Ahora revisamos el dataset de Sellout 2.

In [ ]:
df_sellout_2.duplicated(keep='first').sum()

3

Encontramos 3 registros marcados como duplicados de ventas sellout del proveedor 2, pero se tratan de registros de ventas del mismo producto pero en 3 tiendas diferentes, por lo que no son duplicados que deban eliminarse.

In [ ]:
duplicated = df_sellout_2[df_sellout_2.duplicated(keep='first') == True]
duplicated

            Type      Sku        Date  Store_Id  Units   Price  Margin
6022566  sellout  4709131  2016/08/08      1902    2.0  $13.50     NaN
6022601  sellout  4709131  2016/08/08      2375    3.0  $13.50     NaN
6027348  sellout  4709131  2016/08/17      3790    2.0  $14.20     NaN

**3. Gestionar valores nulos**

Identificamos valores nulos en el dataset de sellout unificado para proveedor 1 y 2.

No tenemos valores nulos en este dataset de ventas Sellout para el proveedor 1, solo en Margin que fue una columna agregada para unificar más adelante los registros de ventas Sellout y Sellin.

In [ ]:
df_sellout_1.isnull().sum()

Type              0
Sku               0
Date              0
Store_Id          0
Units             0
Price             0
Margin      1206365
dtype: int64

Tenemos varios registros de ventas sellout con Units 0, candidatos a remover dado que no tiene sentido tener registros de ventas con 0 unidades.
Algunos registros tienen Price 0.0, pero podrían tratarse de muestras gratis.

Tenemos 568002 registros con Units 0 en el dataset Sellout del proveedor 1.

In [ ]:
len(df_sellout_1[df_sellout_1['Units'] == 0.0])

568002

Eliminamos los registros con Units 0 del dataset Sellout proveedor 1.

In [ ]:
df_sellout_1.drop(df_sellout_1[df_sellout_1['Units'] == 0.0].index, inplace = True)
len(df_sellout_1[df_sellout_1['Units'] == 0.0])

0

Verificamos y no tenemos registros con Units 0 en el dataset de Sellout proveedor 2.

In [ ]:
len(df_sellout_2[df_sellout_2['Units'] == 0.0])

0

**2. Ajustar tipos de datos**

La columna Date debe ser tipo date, y Units debe ser entero.

Debemos concatenar los 2 datasets de ventas sellout, pero antes de hacerlo es necesario unificar el formato del campo Date.

Primero vamos a remover la cadena ' SO Diaria Piezas' presente en la columna Date del dataset 1.

In [ ]:
df_sellout_1['Date'] = df_sellout_1['Date'].str.replace(' SO Diaria Piezas','')
df_sellout_1.head()

       Type      Sku        Date  Store_Id  Units  Price  Margin
1   sellout  4220015  2017-01-01        18    6.0   15.6     NaN
9   sellout  4220015  2017-01-01        60    8.0   15.6     NaN
20  sellout  4220015  2017-01-01        98    8.0   15.6     NaN
23  sellout  4220015  2017-01-01       106    1.0   15.6     NaN
24  sellout  4220015  2017-01-01       107    2.0   15.6     NaN

Ahora en el dataset 2 vamos a reemplazar:
* '/' en la columna Date por '-' para unificar el formato de fecha antes de la conversión a datetime
* Eliminar el signo $ en columna Price para la conversión a float

In [ ]:
df_sellout_2['Date'] = df_sellout_2['Date'].str.replace('/','-')
df_sellout_2['Price'] = df_sellout_2['Price'].str.replace('\$','')

df_sellout_2.head()

<ipython-input-140-a9c5c22587b2>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_sellout_2['Price'] = df_sellout_2['Price'].str.replace('\$','')

            Type      Sku        Date  Store_Id  Units  Price  Margin
1206366  sellout  4240039  2016-01-01      1000   23.0  16.00     NaN
1206367  sellout  4240039  2016-01-01      1001  116.0  16.00     NaN
1206368  sellout  4240039  2016-01-01      1002  146.0  16.00     NaN
1206369  sellout  4240039  2016-01-01      1003   17.0  16.80     NaN
1206370  sellout  4240039  2016-01-01      1004    5.0  16.70     NaN

Ahora vamos a ajustar los tipos de datos de todas las columnas, para los 2 datasets.

In [ ]:
df_sellout_1 = df_sellout_1.astype({'Type':'string',"Sku":"category","Store_Id":"category"})
df_sellout_1['Date'] = pd.to_datetime(df_sellout_1['Date'])

df_sellout_1.dtypes

Type                string
Sku               category
Date        datetime64[ns]
Store_Id          category
Units              float64
Price              float64
Margin             float64
dtype: object

In [ ]:
df_sellout_2 = df_sellout_2.astype({'Type':'string','Sku':'category','Store_Id':'category'})
df_sellout_2['Date'] = pd.to_datetime(df_sellout_2['Date'])

df_sellout_2.dtypes

Type                string
Sku               category
Date        datetime64[ns]
Store_Id          category
Units              float64
Price              float64
Margin             float64
dtype: object

**5. Concatenar datasets de ventas Sellout:**

Por último, una vez ajustados cada dataset, sin duplicados, ni registros considerados nulos, ahora concatenamos los 2 datasets de ventas sellout.

* Tamaño dataset 1: 638.363
* Tamaño dataset 2: 4.862.029
* Tamaño dataset concatenado: 5.500.392

In [ ]:
df_sellout_1.shape

(638363, 7)

In [ ]:
df_sellout_2.shape

(4862029, 7)

In [ ]:
datasets = [df_sellout_1, df_sellout_2]
df_sellout = pd.concat(datasets)
df_sellout.head()

       Type      Sku       Date  Store_Id  Units  Price  Margin
1   sellout  4220015 2017-01-01        18    6.0   15.6     NaN
9   sellout  4220015 2017-01-01        60    8.0   15.6     NaN
20  sellout  4220015 2017-01-01        98    8.0   15.6     NaN
23  sellout  4220015 2017-01-01       106    1.0   15.6     NaN
24  sellout  4220015 2017-01-01       107    2.0   15.6     NaN

In [ ]:
df_sellout.tail()

            Type      Sku       Date  Store_Id  Units  Price  Margin
6068390  sellout  4729193 2016-12-30      5827   14.0  17.90     NaN
6068391  sellout  4729193 2016-12-30      5850    3.0  17.90     NaN
6068392  sellout  4729193 2016-12-30      5851    3.0  16.00     NaN
6068393  sellout  4729193 2016-12-30      5855   21.0  16.86     NaN
6068394  sellout  4729193 2016-08-20      3766   12.0  13.60     NaN

In [ ]:
df_sellout.shape

(5500392, 7)

In [ ]:
df_sellout.dtypes

Type                string
Sku                  int64
Date        datetime64[ns]
Store_Id             int64
Units              float64
Price              float64
Margin             float64
dtype: object

**VENTAS SELLIN**

**1. Explorar los datos del dataset**

Exploramos los datos, obtenemos número de filas y columnas, y tipos de datos de cada columna.

Cargamos el dataset sellin, con una columna index iniciando en el siguiente registro de acuerdo a la longitud del dataframe sellout, para continuar la secuencia del dataset de sellout ya unificado.

Y agregamos la columna Type, con el valor sellin.

También renombramos la columna Pieces a Units para unificar.

In [ ]:
df_sellin = pd.read_csv('sellin-total.csv',sep=',')
df_sellin.index = df_sellin.index + len(df_sellout.index) + 1

df_sellin.insert(0,'Type','sellin')
df_sellin = df_sellin.rename(columns={"Pieces": "Units"})

df_sellin.head()

           Type      Sku        Date  Store_Id  Units  Price  Margin
5500393  sellin  4220015  02/01/2015       100   20.0  13.01    9.78
5500394  sellin  4220015  02/01/2015       116   20.0  13.01    9.78
5500395  sellin  4220015  02/01/2015       141   80.0  13.01    9.78
5500396  sellin  4220015  02/01/2015       146   10.0  13.01    9.78
5500397  sellin  4220015  02/01/2015       151   20.0  13.09    9.87

In [ ]:
df_sellin.shape

(4188783, 7)

In [ ]:
df_sellin.dtypes

Type         object
Sku           int64
Date         object
Store_Id      int64
Units       float64
Price       float64
Margin      float64
dtype: object

**2. Análisis de duplicados**

Identificamos cuántos registros duplicados existen y decidimos cómo gestionarlos.

In [ ]:
df_sellin.duplicated(keep='first').sum()

18

Encontramos 18 registros marcados como duplicados de ventas Sellin, pero se tratan de registros de ventas del mismo producto, diferente fecha y diferentes tiendas, por lo que no son duplicados candidatos a ser eliminados.

In [ ]:
duplicated = df_sellin[df_sellin.duplicated(keep='first') == True]
duplicated

           Type      Sku        Date  Store_Id   Units  Price  Margin
8922456  sellin  4769520  10/03/2017      2384    9.60  43.41   33.39
8922704  sellin  4769520  11/03/2017      2476    0.00  43.41   33.39
8925280  sellin  4769520  24/03/2017      3051    4.80  43.41   33.39
9178112  sellin  4779537  11/03/2017      1471    5.40  42.03   33.45
9180211  sellin  4779537  21/03/2017      3902   32.40  42.03   33.45
9181280  sellin  4779537  27/03/2017      1195   10.80  42.03   33.45
9181438  sellin  4779537  27/03/2017      3734   10.80  42.03   33.45
9375472  sellin  4789544  11/03/2017      1471   21.60  42.65   34.96
9375767  sellin  4789544  13/03/2017      3893   10.80  42.65   34.96
9375878  sellin  4789544  14/03/2017      2840  162.00  42.65   34.96
9376552  sellin  4789544  18/03/2017      5700    0.00  42.65   34.96
9532302  sellin  4809797  24/03/2017       661    6.75  20.29   14.37
9533312  sellin  4809797  01/04/2017      2383    6.75  19.29   13.36
9630055  sellin  4819810  16/03/2017       611    6.75  21.92   16.02
9630485  sellin  4819810  27/03/2017       603    6.75  21.92   16.02
9685500  sellin  4829827  20/03/2017        78    6.75  21.92   16.02
9686214  sellin  4829827  03/04/2017        71    6.75  21.92   16.02
9688193  sellin  4829827  12/05/2017      2840    0.00  20.51   14.62

**3. Gestionar valores nulos**

No se identificaron valores nulos en el registro de Sellin.

In [ ]:
df_sellin.isnull().sum()

Type        0
Sku         0
Date        0
Store_Id    0
Units       0
Price       0
Margin      0
dtype: int64

Tenemos varios registros de ventas Sellin con Units 0, candidatos a remover dado que no tiene sentido tener registros de ventas con 0 unidades.

Tenemos 46950 registros con Units 0 en el dataset Sellout del proveedor 1.

In [ ]:
len(df_sellin[df_sellin['Units'] == 0.0])

46950

Eliminamos los registros con Units 0 del dataset Sellin.

In [ ]:
df_sellin.drop(df_sellin[df_sellin['Units'] == 0.0].index, inplace = True)
len(df_sellin[df_sellin['Units'] == 0.0])

0

In [ ]:
df_sellin.shape

(4141833, 7)

**4. Ajustar tipos de datos**

Asignamos el tipo de dato correcto a cada columna, excepto Date para que debemos realizar antes ajustes de formato.

In [ ]:
df_sellin = df_sellin.astype({'Type':'string',"Sku":"category","Store_Id":"category"})
df_sellin.dtypes

Type          string
Sku         category
Date          object
Store_Id    category
Units        float64
Price        float64
Margin       float64
dtype: object

Ajustamos la columna Date al formato y tipo de dato correcto.

In [ ]:
df_sellin = df_sellin.astype({'Date':'string'})
df_sellin['Date'] = df_sellin['Date'].str.replace('/','-')
df_sellin['Date'] = pd.to_datetime(df_sellin['Date'], infer_datetime_format=True)
df_sellin['Date'] = df_sellin['Date'].dt.strftime('%Y-%m-%d')
df_sellin['Date'] = pd.to_datetime(df_sellin['Date'])

df_sellin.head()

NameError: ignored

In [ ]:
df_sellin.dtypes

Type                string
Sku               category
Date        datetime64[ns]
Store_Id          category
Units              float64
Price              float64
Margin             float64
dtype: object

**DATASET UNIFICADO**

Ahora que ya tenemos los datasets de clientes, productos, sellout y sellin listos, vamos a unificar todos los datos en un único dataset.

**1. Contactenar registros de ventas Sellout/Sellin**

Primer concatenamos los registros de sellout con los registros de sellin.

* Tamaño dataset Sellout: 5.500.392
* Tamaño dataset Sellin: 4.141.833
* Tamaño dataset concatenado: 9.642.225

In [ ]:
datasets = [df_sellout, df_sellin]
df_sales = pd.concat(datasets)
df_sales.head()

       Type      Sku       Date  Store_Id  Units  Price  Margin
1   sellout  4220015 2017-01-01        18    6.0   15.6     NaN
9   sellout  4220015 2017-01-01        60    8.0   15.6     NaN
20  sellout  4220015 2017-01-01        98    8.0   15.6     NaN
23  sellout  4220015 2017-01-01       106    1.0   15.6     NaN
24  sellout  4220015 2017-01-01       107    2.0   15.6     NaN

In [ ]:
df_sales.tail()

           Type      Sku       Date  Store_Id  Units  Price  Margin
9689171  sellin  4829827 2017-05-31      3900  33.75  20.51   14.62
9689172  sellin  4829827 2017-05-31      4090  20.25  20.51   14.62
9689173  sellin  4829827 2017-05-31      4544   6.75  20.51   14.62
9689174  sellin  4829827 2017-05-31      5702  33.75  20.51   14.62
9689175  sellin  4829827 2017-05-31      5773   6.75  20.51   14.62

In [ ]:
df_sales.shape

(9642225, 7)

**2. Merge de dataset de ventas con el maestro de productos.**

Ahora hacemos merge del dataframe de sales, con el de productos, para incorporar los datos del producto asociado a cada venta.

In [ ]:
df_sales = pd.merge(df_sales, df_productos, left_on = 'Sku', right_index=True)
df_sales.head()

NameError: ignored

In [ ]:
df_sales.tail()

,Type,Sku,Date,Store_Id,Units,Price,Margin,Sku_Description,Sku_Category,Sku_Subcategory
8699960,sellin,4729193,2017-05-31,5815,24,15.34,10.8,Coco Poops Chocolate Choc Chip,Sugar-free,Cereal bars
8699961,sellin,4729193,2017-05-31,5817,12,15.34,10.8,Coco Poops Chocolate Choc Chip,Sugar-free,Cereal bars
8699962,sellin,4729193,2017-05-31,5825,36,15.34,10.8,Coco Poops Chocolate Choc Chip,Sugar-free,Cereal bars
8699963,sellin,4729193,2017-05-31,5843,12,15.34,10.8,Coco Poops Chocolate Choc Chip,Sugar-free,Cereal bars
8699964,sellin,4729193,2017-05-31,5844,12,15.34,10.8,Coco Poops Chocolate Choc Chip,Sugar-free,Cereal bars

Continuamos con un total de 9.642.225 registros, después del merge con el maestro de productos.

In [ ]:
df_sales.shape

(9642225, 10)

**3. Merge de dataset de ventas con el maestro de clientes (tiendas).**

Por último, hacemos merge del dataframe de sales con el de clientes, para incorporar los datos de las tiendas.

In [ ]:
df_sales = pd.merge(df_sales, df_clientes, left_on = 'Store_Id', right_index=True)
df_sales.head()

,Type,Sku,Date,Store_Id,Units,Price,Margin,Sku_Description,Sku_Category,Sku_Subcategory,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
1,sellout,4220015,2017-01-01,18,6,15.6,NaN,Stars Chocolate,Sugar-free,Cereal bars,Singing Black Center,proveedor_1,Shop,Evil White Baton,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV
96,sellout,4220015,2017-01-02,18,15,15.6,NaN,Stars Chocolate,Sugar-free,Cereal bars,Singing Black Center,proveedor_1,Shop,Evil White Baton,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV
191,sellout,4220015,2017-01-03,18,10,15.6,NaN,Stars Chocolate,Sugar-free,Cereal bars,Singing Black Center,proveedor_1,Shop,Evil White Baton,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV
286,sellout,4220015,2017-01-04,18,8,15.6,NaN,Stars Chocolate,Sugar-free,Cereal bars,Singing Black Center,proveedor_1,Shop,Evil White Baton,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV
381,sellout,4220015,2017-01-05,18,12,15.6,NaN,Stars Chocolate,Sugar-free,Cereal bars,Singing Black Center,proveedor_1,Shop,Evil White Baton,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV

In [ ]:
df_sales.tail()

,Type,Sku,Date,Store_Id,Units,Price,Margin,Sku_Description,Sku_Category,Sku_Subcategory,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
5406867,sellout,4625287,2016-08-20,3537,0,5.9,NaN,Toast Mango Peach,Super-flavour,Cereal box,Singing Golden Florist,proveedor_2,AllInOne,Enlightened Fuchsia Comet,Barthovit,NORESTE,Thrilmamad Vocals,FORANEO,II
5407685,sellout,4625287,2016-08-21,3537,1,5.9,NaN,Toast Mango Peach,Super-flavour,Cereal box,Singing Golden Florist,proveedor_2,AllInOne,Enlightened Fuchsia Comet,Barthovit,NORESTE,Thrilmamad Vocals,FORANEO,II
5408472,sellout,4625287,2016-08-22,3537,0,5.9,NaN,Toast Mango Peach,Super-flavour,Cereal box,Singing Golden Florist,proveedor_2,AllInOne,Enlightened Fuchsia Comet,Barthovit,NORESTE,Thrilmamad Vocals,FORANEO,II
5411226,sellout,4625287,2016-08-26,3537,0,8.9,NaN,Toast Mango Peach,Super-flavour,Cereal box,Singing Golden Florist,proveedor_2,AllInOne,Enlightened Fuchsia Comet,Barthovit,NORESTE,Thrilmamad Vocals,FORANEO,II
5412789,sellout,4625287,2016-08-28,3537,0,8.9,NaN,Toast Mango Peach,Super-flavour,Cereal box,Singing Golden Florist,proveedor_2,AllInOne,Enlightened Fuchsia Comet,Barthovit,NORESTE,Thrilmamad Vocals,FORANEO,II

In [ ]:
df_sales.shape

(9644121, 19)

**PROBANDO EL DATAFRAME UNIFICADO**

Ahora vamos a probar algunas posibles consultas, filtros y opciones de agrupamiento sobre el dataset unificado.

In [ ]:
df_sales.sort_index()

,Type,Sku,Date,Store_Id,Units,Price,Margin,Sku_Description,Sku_Category,Sku_Subcategory,Store_Name,Provider,Store_Type,Store_Location,Store_State,Store_Division,Store_Warehouse,Store_Structure,Store_Level
1,sellout,4220015,2017-01-01,18,6,15.60,NaN,Stars Chocolate,Sugar-free,Cereal bars,Singing Black Center,proveedor_1,Shop,Evil White Baton,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV
9,sellout,4220015,2017-01-01,60,8,15.60,NaN,Stars Chocolate,Sugar-free,Cereal bars,Interesting Purple Mall,proveedor_1,Shop,Horrible Purple Tree,Lorgulgus,CENTRO-SUR,Gorngusco Toughworks,FORANEO,IV
20,sellout,4220015,2017-01-01,98,8,15.60,NaN,Stars Chocolate,Sugar-free,Cereal bars,Bizarre White Stationer,proveedor_1,Shop,Kicking Fuchsia Empire,Magornmar,METRO-NORTE,Emolor Vocals,METRO,V
23,sellout,4220015,2017-01-01,106,1,15.60,NaN,Stars Chocolate,Sugar-free,Cereal bars,Dead Blue GreatShop,proveedor_1,Shop,Horrible Chartreuse Mud,Alloralf,METRO-NORTE,Emolor Vocals,METRO,IV
24,sellout,4220015,2017-01-01,107,2,15.60,NaN,Stars Chocolate,Sugar-free,Cereal bars,Clean Aquamarine Convenience,proveedor_1,Shop,Long Chocolate Barrier,Alloralf,CENTRO,Movitalf Empire,DISTRIBUIDORES,IV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689171,sellin,4829827,2017-05-31,3900,33,20.51,14.62,Golden Goals Chocolate Choc Chip,Sugar-free,Cereal bars,Awful Chartreuse AllInOne,proveedor_2,Leftorium,Tiny Indigo Tree,Alloralf,METRO-NORTE,Lorthogus Toughworks,METRO,IV
9689172,sellin,4829827,2017-05-31,4090,20,20.51,14.62,Golden Goals Chocolate Choc Chip,Sugar-free,Cereal bars,Long Navy Stationer,proveedor_2,Leftorium,Old Orchid Metropolis,Egusgul,CENTRO-SUR,Erodmad Industrail,FORANEO,IV
9689173,sellin,4829827,2017-05-31,4544,6,20.51,14.62,Golden Goals Chocolate Choc Chip,Sugar-free,Cereal bars,Awful Dark Laundrette,proveedor_2,GipsyTrade,Clean Aqua Soil,Egusgul,CENTRO-SUR,Erodmad Industrail,FORANEO,IV
9689174,sellin,4829827,2017-05-31,5702,33,20.51,14.62,Golden Goals Chocolate Choc Chip,Sugar-free,Cereal bars,Clean Chartreuse Florist,proveedor_2,Leftorium,Funny Magenta Tree,Alloralf,CENTRO,Elortho Aerospace,FORANEO,IV
9689175,sellin,4829827,2017-05-31,5773,6,20.51,14.62,Golden Goals Chocolate Choc Chip,Sugar-free,Cereal bars,Rare Salmon Florist,proveedor_2,GipsyTrade,Clean Aqua Soil,Egusgul,CENTRO-SUR,Erodmad Industrail,FORANEO,IV