<style type="text/css">
    ol { list-style-type: upper-alpha; }
</style>

<center> <img src=https://i.imgur.com/0TSSaqL.png width="550"> </center>

<center> <h3> Module 3: Programación en Python </h3> </center>
<center> <h4> Sesiones síncronas - 20230104 - 2/2</h4> </center>

## Numpy

In [2]:
import numpy as np

### **Ejercicio 1**

Escribir un programa que cree:
1. Un array vacío
2. Un array de ceros
3. Un array de valores 1 a 5
4. Una matriz diagonal de valores 1 a 5

Y nos muestre por cada uno de ellos sus dimensiones y el número de elementos que contiene.

In [ ]:
# Ejercicio 1
arrays = [
    np.empty((3, 5)),
    np.zeros((3, 4)),
    np.arange(1, 6),
    np.diag(list(range(1, 6)))
]

for ar in arrays:
  print("Array: \n", ar)
  print(" -- Dimensión:", ar.shape)
  print(" -- Número de elementos:", ar.size)
  print("----------------------------------------")

Array:
 [[1.8588378e-316 0.0000000e+000 0.0000000e+000 0.0000000e+000
  0.0000000e+000]
 [0.0000000e+000 0.0000000e+000 0.0000000e+000 0.0000000e+000
  0.0000000e+000]
 [0.0000000e+000 0.0000000e+000 0.0000000e+000 0.0000000e+000
  0.0000000e+000]]
 -- Dimensión: (3, 5)
 -- Número de elementos: 15
----------------------------------------
Array:
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
 -- Dimensión: (3, 4)
 -- Número de elementos: 12
----------------------------------------
Array:
 [1 2 3 4 5]
 -- Dimensión: (5,)
 -- Número de elementos: 5
----------------------------------------
Array:
 [[1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]
 [0 0 0 0 5]]
 -- Dimensión: (5, 5)
 -- Número de elementos: 25
----------------------------------------

### **Ejercicio 2**
Escribir un programa que, dados dos arrays, lleve a cabo:
1. La unión
2. La intersección
3. La suma
4. La multiplicación por un valor constante

In [ ]:
# Ejercicio 2
a = np.array([1.53, 3.22])
b = np.array([7.334, 3.22])

print("Unión:", np.concatenate([a, b]))
print("Intersección:", np.intersect1d(a, b))
print("Suma:", a + b)
print("Multiplicación por una constante n = 3:", a * 3)

Unión: [1.53  3.22  7.334 3.22 ]
Intersección: [3.22]
Suma: [8.864 6.44 ]
Multiplicación por una constante n = 3: [4.59 9.66]

## Ejercicio 3
Escribir un programa que dados dos arrays los compare.

In [ ]:
# Ejercicio 3
a = np.array([5.445, 1.22])
b = np.array([19.56, 1.12])
print("Array a: ", a)
print("Array b: ", b)
print("a > b", np.greater(a, b))
print("a >= b", np.greater_equal(a, b))
print("a < b", np.less(a, b))
print("a <= b", np.less_equal(a, b))

Array a:  [5.445 1.22 ]
Array b:  [19.56  1.12]
a > b [False  True]
a >= b [False  True]
a < b [ True False]
a <= b [ True False]

### **Ejercicio 4**
Escribir un programa que cree un array de temperaturas en grados fahrenheit y transforme todos sus elementos a grados centígrados. Recordad que la fórmula utilizada para la conversión es:
\begin{equation}
C = \frac{5}{{9}} \left(F - 32 \right)
\end{equation}

In [3]:
# Ejercicio 4
grados_fahrenheit = np.array([67.34, -11.11, 78.96, 1.11, 102.71, 0])
print(
    "El array de grados Fahrenheit:\n", grados_fahrenheit, 
    "\npasa a ser:\n", np.round(((5/9) * (grados_fahrenheit - 32)), 2), 
    "\nen grados Celsius.")

El array de grados Fahrenheit:
 [ 67.34 -11.11  78.96   1.11 102.71   0.  ]
pasa a ser:
 [ 19.63 -23.95  26.09 -17.16  39.28 -17.78]
en grados Celsius.

### **Ejercicio 5**
Escribir un programa que cree una matriz de dimensión 3x5 y otra de dimensión 5x4, con valores aleatorios, y calcule su multiplicación.

In [ ]:
# Ejercicio 5
x = np.random.random((3, 5))
y = np.random.random((5, 4))
print("Primer array:\n", x)
print("Segundo array:\n", y)
print("\nProducto de dos arrays:\n", np.dot(x, y))

Primer array:
 [[0.91652277 0.3302544  0.52377514 0.87955835 0.44359562]
 [0.5222592  0.4949982  0.60076647 0.85297609 0.43132347]
 [0.9477568  0.06499711 0.69660781 0.96864871 0.83225279]]
Segundo array:
 [[0.98942443 0.98308916 0.90232    0.40146514]
 [0.75704319 0.36229086 0.20916088 0.80655511]
 [0.40473534 0.73398236 0.51698771 0.50831828]
 [0.71414226 0.47325351 0.23960748 0.48210836]
 [0.71201114 0.78461    0.06728893 0.27412189]]

Producto de dos arrays:
 [[2.31281199 2.16941711 1.40745628 1.4462065 ]
 [2.05087584 1.87580731 1.11877081 1.44375487]
 [2.5532074  2.57798541 1.51700933 1.48214589]]

---

## Pandas

In [ ]:
import pandas as pd
data = pd.read_csv("coches-de-segunda-mano-sample.csv")

### **Ejercicio 6**
Vamos a utilizar el archivo CSV contenido en el zip coches-dataset.zip dentro del repositorio, en la carpeta sessions/20230104.

Escribir un programa que cargue el dataframe y muestre:
1. Las primeras 10 filas
2. Las últimas 10 filas
3. 10 filas al azar

In [ ]:
# Ejercicio 6
print("10 primeras filas:")
data.head(n = 10)

10 primeras filas:

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00
5,f15e9a256de698bf0588753e7add0fdf,9881bcdd5a0ad4733037b3fb25e69c3a,PEUGEOT,3008,PEUGEOT 3008 Style 1.2 PureTech 130 SS 5p.,11490,10490.0,Gasolina,2016.0,78665,...,5,Manual,Blanco,32,True,Flexicar Rivas,Madrid,Spain,2021-01-08 17:03:33,2021-01-15 00:00:00
6,517b8f7c488d9d4645f76b1611418a4e,9881bcdd5a0ad4733037b3fb25e69c3a,LAND-ROVER,Discovery Sport,LAND-ROVER Discovery Sport 2.0L TD4 110kW 150C...,28500,26220.0,Diésel,2017.0,36238,...,5,Automático,Blanco,47,True,OK Cars,Baleares,Spain,2021-01-12 11:26:18,2021-01-15 00:00:00
7,2ad681959d278f32a83c3ad7be35443e,9881bcdd5a0ad4733037b3fb25e69c3a,HONDA,Civic,HONDA Civic 2.2 iDTEC Sport 5p.,8200,NaN,Diésel,2012.0,203000,...,5,Manual,Blanco,15,False,001783c2b59526bb858210edffa68c6b,Barcelona,Spain,2020-12-03 15:35:56,2021-01-15 00:00:00
8,3cb810cd0cd871eb6d5c38832f5f8beb,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,Berlingo,CITROEN Berlingo Multispace 20 Aniv. PureTech ...,12100,NaN,Gasolina,2018.0,45000,...,5,Manual,Azul,6,False,f7cb72400bd7fb19294e1f9692c48cd9,Alicante,Spain,2020-11-06 17:57:55,2021-01-15 00:00:00
9,13b881bdd31a0387edd64edd726e8c93,9881bcdd5a0ad4733037b3fb25e69c3a,NISSAN,NOTE,NISSAN NOTE 5p. 1.2G 80CV Acenta NissanConnect...,6300,NaN,Gasolina,2016.0,77000,...,5,Manual,Blanco,6,False,8a3b0eb4d055a275274895319688e80a,Barcelona,Spain,2020-12-14 17:39:46,2021-01-15 00:00:00

In [ ]:
print("10 últimas filas:")
data.tail(n = 10)

10 últimas filas:

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
49990,22c3253f7acac12eda1784ef4ce901d4,9881bcdd5a0ad4733037b3fb25e69c3a,SUBARU,Outback,SUBARU Outback 2.5i Limited 5p.,9800,NaN,Gasolina,2012.0,118000,...,5,Automático,Gris / Plata,6,False,6e55c8f1af9646ada8d52ca37d627d42,Tenerife,Spain,2020-11-07 17:25:28,2021-01-15 00:00:00
49991,0c78cec43f04e25e391b8c15b393fbf4,9881bcdd5a0ad4733037b3fb25e69c3a,PORSCHE,911,PORSCHE 911 Turbo Coupe A.M.08 2p.,67900,NaN,Gasolina,2008.0,99000,...,2,Automático,Rojo,54,True,Quality Cars,Valencia,Spain,2021-01-03 21:15:37,2021-01-15 00:00:00
49992,484b780d2f492b6c481a78c975b8f59e,9881bcdd5a0ad4733037b3fb25e69c3a,JEEP,Compass,JEEP Compass 1.4 Mair 103kW Sport 4x2 5p.,21900,NaN,Gasolina,2020.0,5000,...,5,Manual,Gris / Plata,29,True,AJ CARS,Navarra,Spain,2021-01-07 16:47:40,2021-01-15 00:00:00
49993,2b9bb09716f01a9496f08805dc09c08e,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,León,SEAT Leon ST 1.8 TSI 132kW 180CV StSp FR Plus 5p.,19490,18490.0,Gasolina,2017.0,67900,...,5,Manual,Blanco,34,True,Flexicar Barcelona,Barcelona,Spain,2020-12-23 19:53:58,2021-01-15 00:00:00
49994,f6caffb1207bc61d62baa2759cd0a10b,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,León,SEAT Leon ST 1.6 TDI 85kW 115CV StSp Style Ed 5p.,18590,16590.0,Diésel,2019.0,21153,...,5,Manual,Gris / Plata,20,True,Das Weltauto Gil Automocion,Madrid,Spain,2021-01-14 19:20:40,2021-01-15 00:00:00
49995,730210734bfbe1d3df878d5df71246f2,9881bcdd5a0ad4733037b3fb25e69c3a,HYUNDAI,i30,HYUNDAI i30 1.4 TGDI Tecno Fastback DCT 5p.,18490,16490.0,Gasolina,2018.0,47000,...,5,Automático,Gris / Plata,26,True,Flexicar Málaga,Málaga,Spain,2020-11-24 19:59:52,2021-01-15 00:00:00
49996,732b04fb47dd9559dbdcd099c5af484e,9881bcdd5a0ad4733037b3fb25e69c3a,RENAULT,Laguna,RENAULT Laguna Coupe Limited 2.0 Energy dCi 15...,14500,13551.0,Diésel,2015.0,68750,...,2,Manual,KNG Gris Casiopea (metalizado),30,True,Ocasion Plus,Málaga,Spain,2021-01-13 17:02:41,2021-01-15 00:00:00
49997,c10afb53957fb8012707239bdfa66018,9881bcdd5a0ad4733037b3fb25e69c3a,PEUGEOT,108,PEUGEOT 108 TOP Allure VTi 52kW 72CV 5p.,11000,9000.0,Gasolina,2019.0,21422,...,5,Manual,Gris / Plata,17,True,Psa Retail Huelva,Huelva,Spain,2021-01-08 16:47:24,2021-01-15 00:00:00
49998,f74363a6688ba11b71b4d980a959b8d3,9881bcdd5a0ad4733037b3fb25e69c3a,AUDI,RS4,AUDI RS4 Avant 4.2 FSI 450cv quattro 5p.,47900,NaN,Gasolina,2013.0,47900,...,5,Automático,Gris / Plata (Antracita),20,True,Codigocar Lugo,Lugo,Spain,2021-01-13 16:22:53,2021-01-15 00:00:00
49999,3d60801ccb96ef038747130e8a34ceda,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C2,CITROEN C2 1.4 HDI VTR Plus 3p.,2790,NaN,Diésel,2006.0,106000,...,3,Manual,Negro,21,True,AUTOVALENCIA 19,Barcelona,Spain,2021-01-10 16:32:41,2021-01-15 00:00:00

In [ ]:
print("10 filas al azar:")
data.sample(n = 10)

10 filas al azar:

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
45581,35e18158687c57b95a55fe1ac0e0fc59,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Ateca,SEAT Ateca 2.0 TDI 140kW 190CV DSG 4Dr StSp Xc...,22500,20500.0,Diésel,2017.0,135000,...,5,Automático,Rojo,2,True,Multiautos Ourense,Orense,Spain,2020-12-30 19:46:27,2021-01-15 00:00:00
46811,2b5e0cac5ac02f0f876906d342551fb5,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Focus,FORD Focus 1.8 TDCi Ghia 5p.,3990,NaN,Diésel,2006.0,225000,...,5,Manual,Azul,17,True,Dcars Spain,Málaga,Spain,2020-11-04 16:26:55,2021-01-15 00:00:00
22415,4b589062201ac2b0d197ca51a48b357c,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Rav4,TOYOTA Rav4 150D 4x2 Yokubari 5p.,14500,NaN,Diésel,2012.0,77438,...,5,Manual,Azul,11,False,ffc150a160d37e92012c196b6af4160d,Barcelona,Spain,2020-12-19 09:15:38,2021-01-15 00:00:00
38216,9c4d0c8591578a41424de910458994c4,9881bcdd5a0ad4733037b3fb25e69c3a,NISSAN,QASHQAI,NISSAN QASHQAI DIGT 85 kW 115 CV ACENTA 5p.,16350,14715.0,Gasolina,2018.0,29000,...,5,Manual,326 Blanco (sÃ³lido),48,True,AUTO BACK,Madrid,Spain,2021-01-08 17:02:21,2021-01-15 00:00:00
19780,ef1217e1ee4218863eb88523896cd2cc,9881bcdd5a0ad4733037b3fb25e69c3a,OPEL,Insignia,OPEL Insignia ST 2.0 CDTi SS TURBO D Excellenc...,29990,26900.0,Diésel,2017.0,2055,...,5,Manual,Gris / Plata (GRIS ACERO),13,True,Opel Zavisa,Zaragoza,Spain,2021-01-08 16:13:39,2021-01-15 00:00:00
42519,d5b1e69b0ba7be89bcdf1791faa5f4be,9881bcdd5a0ad4733037b3fb25e69c3a,MERCEDES-BENZ,Clase A,MERCEDES-BENZ Clase A A 180 d Urban 5p.,17900,16900.0,Diésel,2016.0,38000,...,5,Manual,Blanco,9,True,4DRIVE Cars,Barcelona,Spain,2020-12-18 18:29:39,2021-01-15 00:00:00
40427,876c2b7337c726cda2bd5cd5a7d07a3a,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Golf,VOLKSWAGEN Golf 2.0 TSI 210cv GTI 3p.,14000,NaN,Gasolina,2010.0,180000,...,3,Manual,Gris / Plata,11,False,262031397020fd8df478ec13b4b096c5,Pontevedra,Spain,2020-10-27 14:33:08,2021-01-15 00:00:00
25442,34102e22ef874cee6d968aaf5c7df9ba,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Grand C-Max,FORD Grand CMax 2.0 TDCi 110kW Business PowerS...,14890,14890.0,Diésel,2017.0,77000,...,5,Automático,Negro,29,True,AUTOCONFI - IDILICAR,Madrid,Spain,2021-01-12 15:38:03,2021-01-15 00:00:00
48490,cfb58945f00002968ac9e07f4706d0cd,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,EcoSport,FORD EcoSport 1.0T EcoBoost 92kW 125CV SS ST L...,17990,16490.0,Gasolina,2020.0,0,...,5,Manual,Gris / Plata,15,True,Grupo Montalt,Valencia,Spain,2021-01-09 14:13:41,2021-01-15 00:00:00
4711,af0955916687e1f89237be49ae2aa7b4,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C4,CITROEN,2900,NaN,Diésel,2005.0,258000,...,5,Manual,Negro,7,False,c1937b687795ce80be0ecf20e1811441,Almería,Spain,2021-01-04 20:00:52,2021-01-15 00:00:00

### **Ejercicio 7**
Escribir un programa que a partir del dataframe definido en el **ejercicio 6**, nos muestre el tamaño del dataframe, el tipo de datos que contiene y su uso en memoria, y un breve resumen de los datos contenidos en cada columna.

In [ ]:
# Ejercicio 7
print("Tamaño del dataframe", data.size)

Tamaño del dataframe 1050000

In [ ]:
print("Tipo de datos por columna y uso en memoria")
data.info()

Tipo de datos por columna y uso en memoria
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              50000 non-null  object
 1   company          50000 non-null  object
 2   make             49998 non-null  object
 3   model            49995 non-null  object
 4   version          50000 non-null  object
 5   price            50000 non-null  int64
 6   price_financed   23563 non-null  float64
 7   fuel             49954 non-null  object
 8   year             49998 non-null  float64
 9   kms              50000 non-null  int64
 10  power            41472 non-null  float64
 11  doors            50000 non-null  int64
 12  shift            49889 non-null  object
 13  color            49406 non-null  object
 14  photos           50000 non-null  int64
 15  is_professional  50000 non-null  bool
 16  dealer           50000 non-null  object
 17  province         49994 non-null  object
 18  country          50000 non-null  object
 19  publish_date     50000 non-null  object
 20  insert_date      50000 non-null  object
dtypes: bool(1), float64(3), int64(4), object(13)
memory usage: 7.7+ MB

In [ ]:
print("Resumen")
data.describe()

Resumen

,price,price_financed,year,kms,power,doors,photos
count,50000.000000,23563.000000,49998.000000,5.000000e+04,41472.000000,50000.000000,50000.000000
mean,15166.270260,18480.029283,2012.311032,1.163591e+05,146.396388,4.505380,16.199120
std,16485.669747,13389.800738,6.677760,1.072921e+05,71.283964,0.868001,12.422882
min,300.000000,700.000000,1970.000000,0.000000e+00,29.000000,2.000000,0.000000
25%,5500.000000,10790.000000,2007.000000,3.830000e+04,109.000000,4.000000,7.000000
50%,11750.000000,15500.000000,2015.000000,9.999900e+04,130.000000,5.000000,13.000000
75%,19800.000000,21995.000000,2018.000000,1.749000e+05,163.000000,5.000000,23.000000
max,549900.000000,428999.000000,2021.000000,5.000000e+06,800.000000,5.000000,54.000000

### **Ejercicio 8**
Escribir un programa que a partir del dataframe definido en el **ejercicio 6** nos muestre los coches que se encuentran por debajo de 5000 euros de la marca Volkswagen

In [ ]:
# Ejercicio 8
data[(data["price"] < 5000) & (data["make"] == "VOLKSWAGEN")]

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
11,8dadc0a13657e83e90a972e74456f701,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Golf,VOLKSWAGEN Golf 3p.,1700,NaN,Diésel,1990.0,350000,...,3,Manual,Rojo,4,False,a425a46b14a78f533e40e974b3d31385,Guipúzcoa,Spain,2021-01-11 10:28:19,2021-01-15 00:00:00
12,254023385c971f3854bbbb2f65b475e8,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Polo,VOLKSWAGEN Polo 75 Trendline Auto 3p.,1300,NaN,Gasolina,2001.0,217000,...,3,Manual,Azul,1,False,a96e8f71351fbe70573b70189c0dd2bb,Barcelona,Spain,2020-11-26 09:10:23,2021-01-15 00:00:00
23,ad1cd419582b0ee1617498592ba55dd8,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Phaeton,VOLKSWAGEN Phaeton 5p.,3750,NaN,Diésel,2006.0,400,...,5,Automático,Verde,9,False,647431b5ca55b04fdf3c2fce31ef1915,Madrid,Spain,2021-01-13 13:56:23,2021-01-15 00:00:00
65,b21b779ae2ffa8cbdebf75ef0e12a9ef,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Golf,VOLKSWAGEN Golf 5p.,4800,NaN,Diésel,2007.0,213000,...,5,Manual,Negro,7,False,a94652aa97c7211ba8954dd15a3cf838,Almería,Spain,2021-01-03 12:04:30,2021-01-15 00:00:00
83,f240ef4476f35b23a9390693f4c5fd97,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Passat,VOLKSWAGEN Passat 2.0 TDI 140cv Advance 4p.,3400,NaN,Diésel,2006.0,272000,...,4,Manual,Gris / Plata,9,True,RAUL,Madrid,Spain,2020-11-19 11:51:09,2021-01-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49708,68115c3c64779a65527cdae21b36313f,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Passat,VOLKSWAGEN Passat 4p.,3500,NaN,Gasolina,2007.0,300100,...,4,Manual,NaN,9,False,ab02fceb9689114b1cd1844e456c0695,Vizcaya,Spain,2020-12-27 20:27:12,2021-01-15 00:00:00
49752,555c66ec619b4ca865aaf8b712c60d84,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Transporter,VOLKSWAGEN Transporter 5p.,1950,NaN,Diésel,1994.0,500000,...,5,Manual,Blanco,9,False,a208a1dbed72a7c5f6b0c8c660c75766,Alicante,Spain,2020-12-04 09:18:25,2021-01-15 00:00:00
49875,cb9851d79ee91aaed7895dd7cb194a6f,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Passat,VOLKSWAGEN Passat 2.0 TDI 140cv Advance 4p.,4990,4990.0,Diésel,2006.0,165000,...,4,Manual,Gris / Plata,1,True,Dv Motor,Málaga,Spain,2021-01-11 15:53:43,2021-01-15 00:00:00
49908,5408fcd9a37144f6d23d3c8370f4a6f9,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Golf,VOLKSWAGEN Golf 2p.,800,NaN,Gasolina,1994.0,200000,...,2,Manual,Azul,5,False,5c3bea5d394835b2af9d2cfd632147f8,Asturias,Spain,2020-11-26 13:43:55,2021-01-15 00:00:00
49965,c8b8e7ec796d945f0446c8d26c122ecf,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Polo,VOLKSWAGEN,1600,NaN,Gasolina,2005.0,199700,...,3,Manual,Gris / Plata,0,False,35f2c73eb16c256bfa74d06fcb539525,Tenerife,Spain,2020-11-08 20:11:21,2021-01-15 00:00:00

### **Ejercicio 9**
Escribir un programa que a partir del dataframe definido en el **ejercicio 6** nos muestre los 10 coches más nuevos que sean híbridos enchufables y cuesten menos de 10000 euros.

In [ ]:
# Ejercicio 9
data[data["fuel"] == "Híbrido"].sort_values(by="price", ascending=True).head(n=10)

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
24915,15f816e6442a7d8a603c39251f27d1a3,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Prius,TOYOTA Prius 1.5 VVTi SOL HSD 5p.,4200,NaN,Híbrido,2009.0,431000,...,5,Automático,Gris / Plata,19,True,Impo Expo By 5210 S.L,Málaga,Spain,2020-12-16 22:59:50,2021-01-15 00:00:00
49169,e99467c276245fd7506bd6226d41a7ad,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Prius,TOYOTA Prius 1.5 VVTi HSD 5p.,4499,NaN,Híbrido,2007.0,178000,...,5,Automático,Negro,23,True,M7-Cars,Vizcaya,Spain,2020-12-22 01:33:02,2021-01-15 00:00:00
32735,2297c13b7120c6d837e9835fbc90c765,9881bcdd5a0ad4733037b3fb25e69c3a,HONDA,Insight,HONDA Insight 1.3 iVTEC IMA Executive 5p.,4500,NaN,Híbrido,2011.0,205000,...,5,Automático,Gris / Plata,12,False,036e3491ba499df64611c82b6bcdd37d,Girona,Spain,2020-10-24 23:57:47,2021-01-15 00:00:00
16846,483ed09338e13c7c556c43e99e348499,9881bcdd5a0ad4733037b3fb25e69c3a,HONDA,CR-Z,HONDA CRZ 1.5 iVTEC IMA Sport 3p.,5499,NaN,Híbrido,2011.0,197000,...,3,Manual,Blanco,11,True,Roberauto,Madrid,Spain,2020-12-20 14:21:48,2021-01-15 00:00:00
6318,9001fad6719aa2c1199a923b4db064e8,9881bcdd5a0ad4733037b3fb25e69c3a,HONDA,Civic,HONDA Civic 1.3 iDSi IMA Hybrid 4p.,5500,5500.0,Híbrido,2007.0,127500,...,4,Automático,Gris / Plata (gris),4,True,Antigua Motors,Las Palmas,Spain,2020-10-21 12:05:33,2021-01-15 00:00:00
31960,cadd7fe1048aa13e23d2fc4cfdb84ae1,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Prius,TOYOTA Prius 1.8 HSD ADVANCE 5p.,5500,NaN,Híbrido,2009.0,219000,...,5,Automático,Negro,10,False,e3eb29693b548564f8760fc5353736a4,Madrid,Spain,2020-12-27 18:10:16,2021-01-15 00:00:00
37066,708e40093808e1b56952a34f5fd843d8,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Prius,TOYOTA Prius 1.8 HSD ADVANCE 5p.,5900,NaN,Híbrido,2010.0,247000,...,5,Automático,Azul,18,True,D & D Automóviles,A Coruña,Spain,2020-12-10 11:57:53,2021-01-15 00:00:00
8534,f2f579140f9a5a57daa0a4edd26487c9,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Prius,TOYOTA Prius 1.5 VVTi SOL HSD 5p.,5999,NaN,Híbrido,2009.0,180335,...,5,Automático,Gris / Plata,13,True,"Mas Kilometros 69, S.L.",Zaragoza,Spain,2020-11-13 17:34:32,2021-01-15 00:00:00
16808,f025283e52565169032772e647c73a47,9881bcdd5a0ad4733037b3fb25e69c3a,HONDA,CR-Z,HONDA CR-Z 1.5 iVTEC IMA GT 3p.,6000,NaN,Híbrido,2011.0,110000,...,3,Manual,Azul,10,False,c09e2995b865f51e83783a068a9eb8ea,Madrid,Spain,2020-12-10 20:21:45,2021-01-15 00:00:00
18242,85c91a30b8139709fa81ec727fb0f980,9881bcdd5a0ad4733037b3fb25e69c3a,TOYOTA,Prius,TOYOTA Prius 1.5 VVTi SOL HSD 5p.,6200,NaN,Híbrido,2008.0,178000,...,5,Automático,Gris / Plata (GRIS PLOMO),17,True,SMC,Madrid,Spain,2021-01-07 19:07:52,2021-01-15 00:00:00

## **Ejercicio 10**
Escribir un programa que a partir del dataframe definido en el **ejercicio 6** nos calcule una nueva columna con el ahorro porcentual con respecto al precio base de financiar el coche.

In [ ]:
# Ejercicio 10
data["savings"] = (data["price"] - data["price_financed"])/data["price"] * 100

In [ ]:
data.sort_values(by="savings", ascending=False).head(10)

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date,savings
40732,744475da4d021cd481cf2dcc30ca9c16,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C-Zero,CITROEN CZero Seduction 5p.,22500,12900.0,Eléctrico,2020.0,10,...,Automático,Gris / Plata,22,True,Garaje Las Flores,Albacete,Spain,2020-12-28 23:27:21,2021-01-15 00:00:00,42.666667
49118,30938910a5d3242214ab3addc0421cf9,9881bcdd5a0ad4733037b3fb25e69c3a,NISSAN,Micra,NISSAN Micra IGT 74 kW 100 CV E6D Acenta 5p.,18275,11200.0,Gasolina,2020.0,0,...,Manual,Beige,11,True,NISSAN ALMENAR,Valencia,Spain,2020-12-27 14:13:42,2021-01-15 00:00:00,38.714090
10264,4540a074f85e6f3ac963e5c0d4787bc9,9881bcdd5a0ad4733037b3fb25e69c3a,NISSAN,Micra,NISSAN Micra IGT 74 kW 100 CV E6D Acenta 5p.,18275,11200.0,Gasolina,2020.0,0,...,Manual,Beige,12,True,NISSAN ALMENAR,Alicante,Spain,2020-12-23 13:05:04,2021-01-15 00:00:00,38.714090
28246,8d830d6b52a9a3dc4683b1c7b1775dda,9881bcdd5a0ad4733037b3fb25e69c3a,PEUGEOT,208,PEUGEOT 208 5P STYLE 1.2L PureTech 82 5p.,9900,6400.0,Gasolina,2016.0,71092,...,Manual,Rojo,11,True,PSA Retail Valencia - Tres Cruces,Valencia,Spain,2020-12-19 00:50:27,2021-01-15 00:00:00,35.353535
46994,5aab27edd4a86621f0c5896a2b543159,9881bcdd5a0ad4733037b3fb25e69c3a,ABARTH,500C,ABARTH 500C 1.4 16v TJet 595 107kW 145CV E6D 2p.,26410,17400.0,Gasolina,2020.0,0,...,Manual,Blanco,15,True,Motordos,Granada,Spain,2021-01-01 12:00:41,2021-01-15 00:00:00,34.115865
5659,75089cde3b8f3aacad6746c213cd4e88,9881bcdd5a0ad4733037b3fb25e69c3a,NaN,D2S,D2S 27kW 3p.,21495,14495.0,Eléctrico,2021.0,3,...,Automático,Beige,16,True,GJ AUTOMOTIVE,Burgos,Spain,2021-01-13 18:35:29,2021-01-15 00:00:00,32.565713
47381,8a977f80434300e8c0bc235e93cb8f50,9881bcdd5a0ad4733037b3fb25e69c3a,NaN,D2S,D2S 27kW 3p.,21495,14495.0,Eléctrico,2021.0,6,...,Automático,Azul,15,True,GJ AUTOMOTIVE,Burgos,Spain,2021-01-13 18:35:29,2021-01-15 00:00:00,32.565713
1045,e6a382f3f6f6532ecb0e671089499edb,9881bcdd5a0ad4733037b3fb25e69c3a,PEUGEOT,108,PEUGEOT 108 Allure VTi 52kW 72CV 5p.,11500,8000.0,Gasolina,2018.0,12301,...,Manual,Gris / Plata,18,True,PSA Retail Valencia - Tres Cruces,Valencia,Spain,2021-01-10 10:38:39,2021-01-15 00:00:00,30.434783
15341,2ec09b7ee027e426a9745296ec2706e4,9881bcdd5a0ad4733037b3fb25e69c3a,FIAT,500,FIAT 500 1.2 8v 69 CV Color Therapy 3p.,9999,6999.0,Gasolina,2014.0,43878,...,Manual,Rojo,29,True,Antón Automoción,Vizcaya,Spain,2020-12-29 18:31:04,2021-01-15 00:00:00,30.003000
7951,49f5e24e551160c667316d0a07773283,9881bcdd5a0ad4733037b3fb25e69c3a,FIAT,500,FIAT 500 1.2 8v 69 CV Color Therapy 3p.,9999,6999.0,Gasolina,2014.0,43878,...,Manual,Rojo,29,True,Concesión Oficial Citroën Álava Lascaray,Álava,Spain,2021-01-12 23:54:08,2021-01-15 00:00:00,30.003000